body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

div {
  border: 0.2px solid red;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.page-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.sidebar {
  grid-row: 1 / 3;
  border: 0.2px solid rgb(89, 64, 255);
}

.projects {
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.anouncements {
  grid-column: 2 / -1;
}
